#formContact{
    width: 500px;
    max-width: 100%;
    margin: auto;
    /*margin-top: 30px;*/
    padding: 20px;
    position: absolute;
    left: 25%;
    background-color: green;
    border: 2px white solid;
    position: absolute;
    top: 10px;
    left: 32%;
}
input,textarea{
    display: block;
    width: 100%;
    margin-top:21px;
    height: 29px;
}
textarea{
    box-sizing: border-box;
    display: block;
    margin: 20px -3px 0px 0px;
    width: 503px;
    height: 234px;
    resize: none;
}

form > * -label/*,select>option*/{
    background-color: activecaption;
}
/*select{
    padding-left: 30px;
    margin-top: 20px;
}*/

label{
    text-align: center;
    color: white;
}
#salir{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}

/*esto es mi boton*/
#formContact > #enviarFormContac{
    width: 120px;
    height: 30px;
    position: relative;
    top: 18%;
    right: -35%;
    border-radius: 15px;
    background-color: green;
    color: white;
    border: 1.5px white solid;
 }