*{
    padding: 0px;
    margin: 0px;
}
body{
    background:green; 
}
#formInscription{
    width: 600px;
    height: 300px;
    border: 1.6px #000080 solid;
    position: absolute;
    top: 25px;
    left: 25%;
    background-color: limegreen;
}

#formInscription > input,label,select,option{
    width: 220px;
    height: 20px;
/*    margin-left: 20px;
    margin-right: 20px;*/
    margin: 10px 30px;
    display: initial;
}

label{
    color: white;
}

/*esto es el boton*/
#formInscription > input[value=Listo]{
    width: 120px;
    height: 30px;
    position: relative;
    top: 18%;
    right: -35%;
    border-radius: 15px;
    background-color: green;
    color: white;
    border: 1.5px white solid;
}
select{
    position: relative;
    left: 150px;
}
#salir{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}
div{
    display: none;
    background-color: orange;
}
div > p{   
    color: black;
}
#divServidor{
    width: 600px;
    height: 300px;
    display: none;
    background-color: green;
    position: absolute;
    top: 4%;
    left: 25%;
    z-index: 5;
    border: 1.5px solid white;
}
#pServidor{
    display: inherit;
    color: white;
    text-align: center;
    position: relative;
    top: 20%;
    left: 2%;
    word-spacing: 2px;
}
#salirServidor{
    display: inherit;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}
#cara{
    display: inherit;
    padding: 0px;
    margin: 0px;
    display: inherit;
    width: 170px;
    height: 150px;
    position: absolute;
    top: 145px;
    right: 194px;
    border-radius: 50%;
}